<template>

    <div class="content">
        <h2>Gestión de productos</h2>

        
    </div>

    
    
</template>

<script>
    export default {
        data(){
            return {
                products: [],
                showModal:true
            }
        },
        mounted() {
            axios.get('products').then((response)=>{
                this.products = response.data;
            });
        },
        methods: {
            
        }
    }
</script>
