<template>

        <div class="flex-center position-ref full-height">
                
            <product-component v-for="(product, index) in products"></product-component>


        

        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
        </button>

    
    
</template>

<script>
    export default {
        data(){
            return {
                products: [],
            }
        },
        mounted() {
            axios.get('products').then((response)=>{
                this.products = response.data;
            });
        },
        methods: {
            
        }
    }
</script>
