<template>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Crear Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form style="text-align:left;" v-on:submit.prevent="newProdcut()">
                    <div class="modal-body">
                            <div class="form-group">
                                <label for="name" class="col-form-label">Nombre:</label>
                                <input type="text" class="form-control" id="name" v-model="name" required>
                            </div>
                            <div class="form-group">
                                <label for="code" class="col-form-label">Código:</label>
                                <input type="number" min="0" class="form-control" id="code" v-model="code" required >
                            </div>
                            <div class="form-group">
                                <label for="stock" class="col-form-label">Existencia:</label>
                                <input type="number" min="0"  class="form-control" id="stock" v-model="stock">
                            </div>
                            <div class="form-group">
                                <label for="id_warehouse" class="col-form-label">Bodega:</label>
                                <select class="form-control" id="id_warehouse" v-model="id_warehouse">
                                    <option v-for="(warehouse, index) in warehouses" v-bind:value="warehouse.id">{{warehouse.description}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="description" class="col-form-label">Descripción:</label>
                                <textarea class="form-control" id="description" v-model="description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="state" class="col-form-label">Estado:</label>
                                <select  class="form-control" id="state" v-model="state" required>
                                    <option value="">Seleccione</option>
                                    <option value="1">Activo</option>
                                    <option value="2">Inactivo</option>
                                    <option value="3">Pendiente </option>
                                </select>
                            </div>
                        

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary closeModal" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
  
    
    
</template>

<script>
    export default {
       // props:['name'],
        data(){
            return {
                name:'',
                code:'',
                stock:'',
                id_warehouse:'',
                description:'',
                state:'',
                warehouses:[]
            }
        },
        mounted() {
           
           axios.get('warehouses').then((response)=>{
                    console.log(response.data,'*****');
                    this.warehouses = response.data;

            });
        },
        methods:{
            newProdcut(){

                let params = {
                    name: this.name,
                    code: this.code,
                    stock: this.stock,
                    id_warehouse: this.id_warehouse,
                    description: this.description,
                    state: this.state,
                }

                axios.post('products',params).then((response)=>{

                    const product = response.data;

                    this.$emit('close');
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();

                    this.$emit('reload',product);
                    console.log(product);
                });
                
            }
        }
    }
</script>
