<template>

    <div class="content">

        <div class="row">
            <div class="col-6" style="text-align:left;">
                <h2>Gestión de productos</h2>
            </div>
            <div class="col-6" style="text-align:right;top:16px;">
                <button type="button" class="btn btn-default" data-toggle="modal" @click="showModal = true" data-target="#exampleModal" style="border-radius:20px;background-color:#2dc4bc !important;color:white;">
                    Crear producto
                </button>
            </div>
        </div>
        <br><br>
        <div class="clearfix"></div>

        <div class="row">

            <div class="col-lg-5">
                <form class="form-inline" v-on:submit.prevent="filter('name')">
                    <div class="form-group">
                        <label>Nombre del producto</label>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="searh" v-model="filter_name" style="margin:0px 10px 0px 10px;">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </div>

            <div class="col-lg-1"></div>

            <div class="col-lg-2">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Mostrar todos
                    </label>
                </div>
            </div>

            <div class="col-lg-1">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Activos
                    </label>
                </div>
            </div>

            <div class="col-lg-1">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Inactivos
                    </label>
                </div>
            </div>

            <div class="col-lg-1">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Pendiente
                    </label>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">

                <table>
                    <thead>
                        <tr>
                            <th style="border-radius:10px 0px 0px 0px !important;"></th>
                            <th style="width:30%;">Nombre del producto</th>
                            <th>Código</th>
                            <th>Existencia</th>
                            <th>Bodega</th>
                            <th>Descripción</th>
                            <th class="center">Editar</th>
                            <th style="border-radius:0px 10px 0px 0px !important;">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  v-for="(product, index) in products">
                            <td><i class="fas fa-check-circle icon-x-20" style="color:#60c8b5;"></i></td>
                            <td>{{product.name}}</td>
                            <td>{{product.code}}</td>
                            <td>{{product.stock}}</td>
                            <td>{{product.id_warehouse}}</td>
                            <td>{{product.description}}</td>
                            <td class="center"><i class="fas fa-pen icon-x-20"></i></td>
                            <td>
                                <button class="btn btn-sm btn-success" v-if="product.state ==1" style="background-color:#38cf0a;width:70px !important;">Activo</button>
                                <button class="btn btn-sm btn-default" v-else-if="product.state ==3" style="width:70px !important;">Pendiente</button>
                                <button class="btn btn-sm btn-success" v-else style="background-color:red;width:70px !important;">Inactivo</button>
                                
                            </td>
                        </tr>
                     
                    </tbody>
                
                </table>
            </div>
        </div>

        
        <modal-product-component v-if="showModal" @close="showModal = false" @reload="reloadProduct">
                <p>dsfkdskf</p>
        </modal-product-component>
    </div>


</div>
    
</template>

<script>

    export default {
        data(){
            return {
                products: [],
                showModal:false,
                filter_name:''
            }
        },
        mounted() {
            axios.get('products').then((response)=>{
                this.products = response.data;
            });
        },
        methods: {
            reloadProduct(product){
                console.log('actualizar listado', product);
                this.products.push(product);
            },
            filter(type){
                axios.get('filter?name='+this.filter_name).then((response)=>{
                    this.products = response.data;
                 });
            }
        }
    }
</script>
